<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Delete Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
    <script> 
    /*<![CDATA[*/
        var app = angular.module('myApp', []);
        app.controller('recipesCtrl', function($scope, $http) {
            var vm = this;  // view model
            vm.selectedRecipeName = null;
            vm.deleteAll = false;
            vm.submissionSuccess = false;
            
            function updateRecipes() {
                $http.get("/api/v1/recipes").then(function (response) {
                    vm.recipes = response.data;
                    console.log("Recipes:", vm.recipes);
                });
            }
            
            function deleteRecipe(recipe) {
                console.log("Attempting to delete recipe:", recipe);
                
                $http.delete("/api/v1/recipes/" + recipe)
                    .then(
                    function (response) {
                        console.log("Delete successful:", response);
                        vm.submissionSuccess = true;    
                        updateRecipes();
                    },
                    function(rejection){
                        console.error('Error while deleting recipe:', rejection);
                        vm.submissionSuccess = false;    
                        updateRecipes();
                    }
                );
            }
            
            vm.del = function(){
                console.log("Selected recipe name:", vm.selectedRecipeName);
                
                if (vm.deleteAll) {
                    var names = vm.recipes.map(function(r) { return r.name; });
                    console.log("Deleting all recipes:", names);
                    names.forEach(deleteRecipe);
                } else {
                    if (!vm.selectedRecipeName) {
                        alert("Please select a recipe to delete");
                        return;
                    }
                    deleteRecipe(vm.selectedRecipeName);
                }
            }
            
            // Watch for changes in selection
            $scope.$watch(function() {
                return vm.selectedRecipeName;
            }, function(newVal, oldVal) {
                console.log('Selected recipe changed from', oldVal, 'to', newVal);
            });
            
            updateRecipes();
        });
    /*]]>*/
    </script>

    <div layout:fragment="content" class="generic-container ng-cloak"
        ng-app="myApp" ng-controller="recipesCtrl as ctrl">

        <h1>Coffee Recipes</h1>

        <div>
            <!-- Debug info -->
            <p>Selected Recipe: {{ctrl.selectedRecipeName}}</p>
            
            <ul>
                <li ng-repeat="recipe in ctrl.recipes">
                    <label>
                        <input type="radio" 
                               name="recipeSelect" 
                               ng-model="ctrl.selectedRecipeName" 
                               ng-value="recipe.name" />
                        {{recipe.name}}
                    </label>
                </li>
            </ul>
            <br />

            <div ng-if="ctrl.recipes.length > 0">
                <input type="checkbox" ng-model="ctrl.deleteAll"> Delete all recipes? </input> <br />
                <input type="submit" value="Delete" 
                       ng-click="ctrl.del()"
                       ng-disabled="!ctrl.deleteAll && !ctrl.selectedRecipeName"
                       class="btn btn-warning btn-sm" />
            </div>

            <div ng-if="ctrl.recipes.length === 0">
                There are no recipes in the Coffee Maker.
            </div>
            
            <div ng-if="ctrl.submissionSuccess">
                Recipe deleted successfully
            </div>
        </div>
        <a href="/index">Home</a>
    </div>

</body>
</html>